html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #1a1a1a;
	overflow: hidden;
}

#scene, #control {
	position: absolute;
	margin: 0;
	padding: 0;
}

#control {
	right: 0;
	height: 100%;
	width: 480px;
	font-size: 14px;
}

#control li {
	font-size: 12px;
}

#scene .container {
	position: absolute;
}

#scene {
	cursor: pointer;
}

#scene .background {
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 100%;
	height: 100%;
}

#sceneBackground {
	background: #00ffa2;
}

#bubblebeat {
	width: 200px;
	display: inline-block;
}

#beatDisplay {
	margin-left: 15px;
	width: 100px;
	display: inline-block;
}

#control .snippet {
	font-family: mono;
	border: 1px solid white;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 7px;
	margin: 5px 0;
	display: none;
}

#control .comment, 
#control .comment .boolean, 
#control .comment .keyword, 
#control .comment .un .boolean,
#control .un .comment .boolean {
	color: #999;
	cursor: pointer;
}

#control .un {
	color: white;
}

#control .keyword, 
#control .un .keyword {
	font-weight: bold;
	color: #834EDE;
}

#control .string {
	color: #DED337;
}

#control .number {
	color: #DE4E58;
}

#control .boolean, 
#control .un .boolean, 
#control .un .un .boolean {
	color: #85DE4E;
}

#control .selectorId, #control .selectorClass {
	border: none;
	background: transparent;
	color: #f2e900;
	font-family: mono;
	width: 80px;
}

#control .float {
	float: right;
	position: relative;
	bottom: 21px;
}

#control .float a {
	text-decoration: none;
	outline: none;
	padding: 2px 4px;
	margin-left: 5px;
}

#instructions p {
	text-align: justify;
}